<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ alerts["alert"]["policy"]["name"] }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/js/foundation.min.js" crossorigin="anonymous"></script>
    <style>
      .alert-body {
        max-width: 1400px;
        margin: 40px auto;
        padding: 0 20px;
      }
    </style>
</head>
<body>
  <div class="alert-body">
    <span>
      <h1>Alerts</h1>
      <p><b>Alert ID:  </b>{{ alerts["alert"]["id"] }}</p>
      <p><b>Time:  </b>{{ alerts["alert"]["time"] | formatDate }}</p>
      <p><b>Title:  </b>{{ alerts["alert"]["policy"]["name"] }}</p>
      <p><b>Severity:  </b>{{ alerts["alert"]["policy"]["severity"] }}</p>
      {% if 'lifecycleStages' in alerts["alert"]["policy"]: %}
        <p><b>Lifecycle Stages: </b>
          {{ alerts["alert"]["policy"]["lifecycleStages"]|join(', ') }}
        </p>
      {% else %}
        <p><b>Lifecycle Stage:  </b>{{ alerts["alert"]["lifecycleStage"] }}</p>
      {% endif %}
      <p><b>Namespace:  </b>{{ alerts["alert"]["namespace"] }}</p>
      <p><b>Deployment:  </b>{{ alerts["alert"]["deployment"]["name"] }}</p>
      <p><b>Description:  </b>{{ alerts["alert"]["policy"]["description"] }}</p>
      {% if 'processViolation' in alerts["alert"]: %}
        <p><b>Process Violation:  </b>{{ alerts["alert"]["processViolation"]["message"] }}</p>
      {% endif %}
      <p><b>Rationale:  </b>{{ alerts["alert"]["policy"]["rationale"] }}</p>
      <p><b>Remediation:  </b>{{ alerts["alert"]["policy"]["remediation"] }}</p>
      <p>
        <button onclick="history.back()">Back to Alerts</button>
      </p>
    </span>
  </div>
</body>

</html>